*.deb
*.ninja
*.ninja_log
*.zip
.vscode/
_misc
py
fonts-backup/
output/proof/
sources/__pycache__
sources/instance_ufos/
sources/sfd_cleaned/
sources/sfd_unused/
sources/-backup*
sources/.fuse_hidden*
sources/py/
sources/ufo/*/lib.plist
temp
tests_results
ufo_built.stamp
venv
