*.deb
*.ninja
*.ninja_log
*.zip
.vscode/
misc
py
sources/instance_ufos/
sources/sfd_cleaned/
sources/sfd_unused/
sources/-backup*
sources/.fuse_hidden*
sources/py/
sources/ufo/*/lib.plist
temp
ufo_built.stamp
venv
