<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Giphurs</string>
    <key>styleName</key>
    <string>Black</string>
    <key>styleMapFamilyName</key>
    <string>Giphurs Black</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>950</integer>
    <key>copyright</key>
    <string>Copyright 2023 The Giphurs Project Authors (https://github.com/Corne2Plum3/Giphurs)</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>capHeight</key>
    <integer>1480</integer>
    <key>xHeight</key>
    <integer>1040</integer>
    <key>ascender</key>
    <integer>1668</integer>
    <key>descender</key>
    <integer>-380</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string>2023-01-20: Finally found a name for the font lol
2022-06-21: Created with FontForge (http://fontforge.org)</string>
    <key>openTypeHeadCreated</key>
    <string>2022/06/21 21:06:07</string>
    <key>openTypeHheaAscender</key>
    <integer>2218</integer>
    <key>openTypeHheaDescender</key>
    <integer>-578</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.950</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>900</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>2218</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-578</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2218</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>578</integer>
    <key>postscriptFontName</key>
    <string>Giphurs-Black</string>
    <key>postscriptFullName</key>
    <string>Giphurs Black</string>
    <key>postscriptWeightName</key>
    <string>Black</string>
    <key>postscriptUnderlineThickness</key>
    <integer>102</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-204</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-30</integer>
      <integer>0</integer>
      <integer>1040</integer>
      <integer>1070</integer>
      <integer>1480</integer>
      <integer>1510</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>270</integer>
      <integer>360</integer>
      <integer>380</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>240</integer>
      <integer>320</integer>
      <integer>336</integer>
    </array>
    <key>guidelines</key>
    <array>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>1050</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>-291</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>459.982</real>
        <key>y</key>
        <real>644</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>1384.05</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>-304.42</real>
        <key>y</key>
        <real>644</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>-730</real>
        <key>y</key>
        <real>644</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>657.789</real>
        <key>y</key>
        <real>644</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>168.206</real>
        <key>y</key>
        <real>644</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>-188.027</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>670.015</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>1200.04</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>684.993</real>
        <key>y</key>
        <real>644</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>2855.5</real>
        <key>y</key>
        <real>644</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>900</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>1480.08</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>-486</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>1149.88</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>1319.99</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>1000</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>820</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>459.993</real>
        <key>y</key>
        <real>644</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1767.99</real>
        <key>y</key>
        <real>644</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>-578</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>1024</real>
        <key>y</key>
        <real>2122</real>
        <key>angle</key>
        <real>0</real>
      </dict>
    </array>
  </dict>
</plist>
