<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1764</integer>
	<key>capHeight</key>
	<integer>1480</integer>
	<key>copyright</key>
	<string>Copyright 2025 The Giphurs Project Authors (https://github.com/Corne2Plum3/Giphurs)</string>
	<key>descender</key>
	<integer>-284</integer>
	<key>familyName</key>
	<string>Giphurs</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>1449.14</real>
			<key>y</key>
			<real>740.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1509.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>725.7</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1932.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1462.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>611.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>1548.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>452.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>-505.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>-188.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>670.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1200.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1158.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>980.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>748.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>870.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1080.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1759.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>260.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1414.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>350.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>46.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>275.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>185.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>251.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1480.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1224.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1234.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>999.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1404.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>1729.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>507.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>528.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>790.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>270.0</real>
			<key>x</key>
			<real>397.0</real>
			<key>y</key>
			<real>644.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>-578.0</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>x</key>
			<real>1024.0</real>
			<key>y</key>
			<real>2122.0</real>
		</dict>
	</array>
	<key>italicAngle</key>
	<real>-10.0</real>
	<key>note</key>
	<string>2023-01-20: Finally found a name for the font lol
2022-06-21: Created with FontForge (http://fontforge.org)</string>
	<key>openTypeHeadCreated</key>
	<string>2026/07/26 17:14:13</string>
	<key>openTypeHheaAscender</key>
	<integer>2048</integer>
	<key>openTypeHheaDescender</key>
	<integer>-568</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://scripts.sil.org/OFL</string>
	<key>openTypeNameVersion</key>
	<string>Version 2.100</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>2048</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-568</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>PfEd</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2290</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>568</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>1040</integer>
		<integer>1060</integer>
		<integer>1480</integer>
		<integer>1500</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Giphurs-Italic</string>
	<key>postscriptFullName</key>
	<string>Giphurs Italic</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>135</integer>
		<integer>180</integer>
		<integer>190</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>120</integer>
		<integer>160</integer>
		<integer>168</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-204</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>102</integer>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>styleMapFamilyName</key>
	<string>Giphurs Regular</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Italic</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>100</integer>
	<key>xHeight</key>
	<integer>1040</integer>
</dict>
</plist>
